body {
    height: 100vh;
    background-color: transparent;
    display: flex;
    width: fit-content;
    justify-content: center;
    background-color: rgb(31, 31, 31);
    overflow-x: hidden;
    overflow-y: hidden;
}

.colors {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.color-block {
    width: 10%;
    height: 100vh;
    color: black;
    justify-self: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    transition: 0.4s ease-in 0.1s, 0.3s ease-out;
}

.buttons-container {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    border-left: 10px solid rgb(54, 55, 63);
}

.color-block:nth-child(1) {
    background-color: black;
}

.color-block:nth-child(2) {
    background-color: rgb(14, 47, 0);
}

.color-block:nth-child(3) {
    background-color: rgb(255, 170, 0);
}

.color-block:nth-child(4) {
    background-color: rgb(255, 72, 0);
}

.color-block:nth-child(5) {
    background-color: rgb(40, 143, 24);
}

.color-block:nth-child(6) {
    background-color: rgb(109, 103, 96);
}

.color-block:nth-child(7) {
    background-color: rgb(75, 70, 66);
}

.color-block:nth-child(8) {
    background-color: rgb(214, 0, 118);
}

.color-block:nth-child(9) {
    background-color: rgb(255, 108, 240);
}

button {
    width: 100%;
    height: 50%;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-self: center;
    align-self: center;
    background-color: transparent;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.generate-colors-container {
    width: 100%;
    height: 50%;
    background-color: rgb(255, 248, 235);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.generate-colors-text {
    font-size: 35px;
    color: rgb(77, 79, 90);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 10px;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.generate-colors-hex {
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    margin-bottom: 10px;
    opacity: 0.4;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    cursor: text;
}

.generate-colors-container:hover .generate-colors-hex {
    opacity: 1;
    transform: scale(1.1) translateY(-5px);
}

.create-random-color-button {
    width: 140px;
    height: 45px;
    background-color: rgb(255, 248, 235);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    background-color: rgb(124, 127, 146);
    color: rgb(255, 248, 235);
    border-radius: 4px;
    margin-top: 20px;
}

.create-random-color-button:hover {
    transform: scale(1.05) translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: rgb(77, 79, 90);
}


.hash-code {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.4;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.color-block:hover .hash-code {
    opacity: 1;
    transform: scale(1.1) translateY(-5px);
}

.create-block {
    width: 100%;
    height: 50%;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-self: center;
    align-self: center;
    background-color: transparent;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    background-color: rgb(77, 79, 90);
    transition: 0.3s;
}

.create-block-text {
    font-size: 30px;
    color: rgb(255, 248, 235);
    margin-bottom: 25px;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}